<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Movie Search App</title>
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
      </head>
  <body>

<form action="/" method="get">
  <p>Movie Name: <input type="text" name="movie" size="20" class="inputField">
    <input type="submit" class="submitBtn"></p>
  </form>

  <!-- <p>Movie Info: <%= @movie_info %></p> -->






  </body>
</html>
