  <tr class="rowImage">
    <td class="image">
      <img src="{{ image }}">
    </td>
    <td class="info">
      <h2 class="name">{{ name }}</h2>
      <p class="type">{{ type }}</p>
    <td>
  </tr>
